/*#logo
{
	width: 1280px;
	height: 357px;
	display: block;
	margin: 0px auto;
}

/*#massiveContainer{
	float: left;
	width: 900px;
}

#tagline{
	font-style: italic;
	font-size: 90px;
	font-family: Verdana;
	text-align: center;
	color: white;
}

#carousel{
	margin-left: 250px;
	margin-right: 250px;
	width: 70%;
	height: 100%;
	position:relative;

}

body{
	background-image: url(images/backgroundedit2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.description
{
	background-color:white;
	width: 1000px;
	height: 300px;
	font-size: 30px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
	position: relative;
}



button
{
	position: relative;
	top: 50%;
	left: 36%;
	transform: translateX(+75%) ;
	/*display: inline-block;
	overflow: hidden;
	font-weight: bold;
	color: white;
	background-color: rgb(72, 61, 139);
	font-size: 30px;
	padding: 30px;
	margin: 80px;
}

article
{
	font-family: Verdana;
	background-color:white;
	margin-left: 500px;
	margin-right: 500px;
	position: relative;
}

.wrapper
{
	display: flex;
	width: 100%;
}
*/

@media(min-width:768px)
{

}

@media(min-width:992px)
{
	#logo
	{
		width: 1280px;
		height: 357px;
		display: block;
		margin: 0px auto;
	}

	/*#massiveContainer{
		float: left;
		width: 900px;
	}*/

	#tagline{
		font-style: italic;
		font-size: 90px;
		font-family: Verdana;
		text-align: center;
		color: white;
	}

	#carousel{
		margin-left: 250px;
		margin-right: 250px;
		width: 70%;
		height: 100%;
		position:relative;

	}

	body{
		background-image: url(images/backgroundedit2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	#textboxContainer
	{
		background-color: white;
	}

	button
	{
		position: relative;
		top: 50%;
		left: 36%;
		transform: translateX(+50%) ;
		/*display: inline-block;*/
		overflow: hidden;
		font-weight: bold;
		color: white;
		background-color: rgb(72, 61, 139);
		font-size: 30px;
		padding: 30px;
		margin: 80px;
	}

	article
	{
		font-family: Verdana;
		background-color:white;

		margin-left: 500px;
		margin-right: 500px;
		position: relative;
	}

	.wrapper
	{
		display: flex;
		width: 100%;
	}
}

@media(min-width:1200px)
{
	#logo
	{
		width: 1280px;
		height: 357px;
		display: block;
		margin: 0px auto;
	}

	#tagline{
		font-style: italic;
		font-size: 90px;
		font-family: Verdana;
		text-align: center;
		color: white;
	}

	#carousel{
		margin-left: 250px;
		margin-right: 250px;
		width: 70%;
		height: 100%;
		position:relative;

	}

	body{
		background-image: url(images/backgroundedit2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.textboxContainer
	{
		background-color:white;
		text-align: center;
		width: 70%;
		margin-left: 16%;
		font-size: 25px;
	}



	button
	{
		position: relative;
		top: 50%;
		left: 36%;
		transform: translateX(+50%) ;
		/*display: inline-block;*/
		overflow: hidden;
		font-weight: bold;
		color: white;
		background-color: rgb(72, 61, 139);
		font-size: 30px;
		padding: 30px;
		margin: 80px;
	}

	article
	{
		font-family: Verdana;
		background-color:white;
		margin-left: 500px;
		margin-right: 500px;
		position: relative;
	}

	.wrapper
	{
		display: flex;
		width: 100%;
	}
}
